<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Upload Movie
        </div>
        <div class="card-body">
            <form (submit)="uploadPelicula(title, description)">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Movie Title" #title required>
                </div>
                <div class="form-group">
                    <textarea rows="2" class="form-control" placeholder="Movie Description" required #description></textarea>
                </div>

                <input type="file" class="d-none" (change)="onPeliculaSelected($event)" #peliculaInput>
                <img [src]="peliculaSelected || '../assets/no-image.png'" class="img-fluid" alt="No image"
                    (click)="peliculaInput.click()">

                <button class="btn btn-primary btn-block">
                    Upload
                </button>
            </form>
        </div>
    </div>
</div>