<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                SignIn
                <img class="rounded-circle mx-auto d-block m-4 logo " src="../../../assets/logo2.png" alt="Logo">              
            </div>
            <div class="card-body">
                <form (submit)="signIn2()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <button class="btn btn-primary btn-block">
                        SignIn
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
