<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="#">Chapters</a></li>
        <li class="breadcrumb-item"><a  routerLink="/peliculas">Movies</a></li>
        <li class="breadcrumb-item"><a routerLink="#">Ovas</a></li>
        <li class="breadcrumb-item active">Games</li>
        <li class="breadcrumb-item"><a  routerLink="#">Characters</a></li>
    </ol>
</div>

<div class="row">
    <div class="col-md-4 p-4" *ngFor="let juego of juegos">
        <div class="card card-juego" (click)="selectedCard(juego._id)">
            <div class="card-header">
                {{juego.title}}
            </div>
            <img [src]="'http://localhost:4000/' + juego.imagePath" class="img-card-top w-100">
            <div class="card-body">
                <p>{{juego.description}}</p>
            </div>
        </div>
    </div>
</div>